{{ if eq .chezmoi.os "darwin" -}}

# Add homebrew autocomplete to zsh
fpath+=("$(/opt/homebrew/bin/brew --prefix)/share/zsh/site-functions")
eval "$(/opt/homebrew/bin/brew shellenv)"

# alias yarn="~/fbsource/xplat/third-party/yarn/yarn"

{{- end }}
